html{
    margin: 0;
}
/* Header group */

/* announcementbar */
p.announce-text.text-center {
    padding: 14px;
    margin-bottom: 0;
}
.announcementbar {
  background: #DDDDDD;
}

/* image-banner */
.banner-container{
  position: relative;
}
.banner-content {
  position: absolute;
  bottom: 100px;
}
.card-body svg, .card-body img {
  width: 100%;
  height: auto;
}
/* drawer-cart */
.offcanvas-footer {
  padding: 1rem;
}
.item-quantity input{
  text-align: center;
}
.qty_selector {
  padding: 0 10px;
  border: 1px solid #000;
  cursor: pointer;
}
/* predictive search */
div#predictive-search {
  position: absolute;
  background: #ffffff;
  padding: 20px;
  width: 700px;
}

@media (min-width: 600px){
  .image-banner-main img {
    width: 100%;
  }
}